.title{
    display: flex;
    justify-content: center;

    h2{
        font-size: 3em;
        margin: auto;
        display: inline;
        color: #fff;
        border-bottom: 2px solid #fff;
    }
}

.infoContainer{
    @include container;

    background-image: url('./img/AdrianOrtiz.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    padding: 3em;
    position: relative;

    .data{
        position: absolute;
        left: 25em;
    }
}